{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Kobe Janssens</title>
    <body class="text-slate-50">
        <div class="background-circle invisible md:visible" id="circle"></div>
        <div class="relative z-1">
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static 'js/baseJs.js' %}"></script>
    </body>
</html>