{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Kobe Janssens</title>
    
    <!-- Meta Tags -->
    <meta name="description" content="I'm Kobe Janssens, a Full Stack Developer and Quant. I craft custom solutions for clients and have built AI models for startups and open-source projects. Let's connect!" />

    <meta property="og:title" content="Kobe Janssens - Full Stack Developer & Quant" />
    <meta property="og:description" content="I'm Kobe Janssens, an independent contractor building custom solutions and working on quantitative trading. Let's collaborate on innovative projects!" />
    <meta property="og:image" content="https://example.com/your-image.jpg" />
    <meta property="og:url" content="https://example.com" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Kobe Janssens - Full Stack Developer & Quant" />
    <meta name="twitter:description" content="I'm Kobe Janssens, a developer passionate about building projects and exploring quantitative trading. Reach out for collaboration!" />
    <meta name="twitter:image" content="https://example.com/your-image.jpg" />


    <body class="text-slate-50">
        <div class="background-circle invisible md:visible" id="circle"></div>
        <div class="relative z-1">
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static 'js/baseJs.js' %}"></script>
    </body>
</html>